$bp-xs: 375px;
$bp-sm: 480px;
$bp-md: 768px;
$bp-lg: 1024px;
$bp-xl: 1280px;
$bp-2xl: 1440px;
$bp-3xl: 1920px;
$breakpoints: (
  "xs": $bp-xs,
  "sm": $bp-sm,
  "md": $bp-md,
  "lg": $bp-lg,
  "xl": $bp-xl,
  "2xl": $bp-2xl,
  "3xl": $bp-3xl,
);
